<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#math" data-toggle="tab">
                                            Математика
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#history" data-toggle="tab">
                                            Історія
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#physics" data-toggle="tab">
                                            Фізика
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#language" data-toggle="tab">
                                            Українська мова
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#geography" data-toggle="tab">
                                            Географія
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#informatic" data-toggle="tab">
                                            Інформатика
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="math">
                                <div>
                                    <div class="card-body">
                                        <div class="title-wrap user-name">
                                            <div class="title-name">
                                                <a routerLink="/template/1"><h3>Математика. Тест №1</h3></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="title-wrap user-name">
                                            <div class="title-name">
                                                <a routerLink="/template/2"><h3>Математика. Тест №2</h3></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="card-body">
                                        <div class="title-wrap user-name">
                                            <div class="title-name">
                                                <a routerLink=""><h3>Математика. Тест №3</h3></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="title-wrap user-name">
                                            <div class="title-name">
                                                <a routerLink=""><h3>Математика. Тест №4</h3></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="history">
                                <div class="row">
                                    <div class="card-body">
                                        <div class="title-wrap user-name">
                                            <div class="title-name">
                                                <a routerLink=""><h3>Історія</h3></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="physics">
                                <div class="row">
                                    <div class="card-body">
                                        <div class="title-wrap user-name">
                                            <div class="title-name">
                                                <a routerLink=""><h3>Фізика</h3></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="language">
                                <div class="row">
                                    <div class="card-body">
                                        <div class="title-wrap user-name">
                                            <div class="title-name">
                                                <a routerLink=""><h3>Українська мова</h3></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="geography">
                                <div class="row">
                                    <div class="card-body">
                                        <div class="title-wrap user-name">
                                            <div class="title-name">
                                                <a routerLink=""><h3>Георафія</h3></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="informatic">
                                <div class="row">
                                    <div class="card-body">
                                        <div class="title-wrap user-name">
                                            <div class="title-name">
                                                <a routerLink=""><h3>Інформатика</h3></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
