<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-test">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <!--<li class="nav-item">-->
                                        <!--<a mat-button (click)="getClass($event.target.textContent)" class="nav-link active" href="#math" data-toggle="tab">-->
                                            <!--Математика-->
                                            <!--<div class="ripple-container"></div>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li class="nav-item">-->
                                        <!--<a mat-button (click)="getClass($event.target.textContent)" class="nav-link" href="#history" data-toggle="tab">-->
                                            <!--Історія-->
                                            <!--<div class="ripple-container"></div>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li class="nav-item">-->
                                        <!--<a mat-button (click)="getClass($event.target.textContent)" class="nav-link" href="#physics" data-toggle="tab">-->
                                            <!--Фізика-->
                                            <!--<div class="ripple-container"></div>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <li class="nav-item">
                                        <a mat-button (click)="getClass($event.target.textContent)" class="nav-link" href="#language" data-toggle="tab">
                                            Англійська мова
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <!--<li class="nav-item">-->
                                        <!--<a mat-button (click)="getClass($event.target.textContent)" class="nav-link" href="#geography" data-toggle="tab">-->
                                            <!--Географія-->
                                            <!--<div class="ripple-container"></div>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li class="nav-item">-->
                                        <!--<a mat-button (click)="getClass($event.target.textContent)" class="nav-link" href="#informatic" data-toggle="tab">-->
                                            <!--Інформатика-->
                                            <!--<div class="ripple-container"></div>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="math">
                                <div>
                                    <div class="card-body">
                                        <div class="title-wrap user-name">
                                            <div class="title-name">
                                                <a routerLink="/template/1"><h4>Англійська мова ЗНО 2019</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="title-wrap user-name">
                                            <div class="title-name">
                                                <a routerLink="/template/2"><h4>Англійська мова ЗНО 2018</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="card-body">
                                        <div class="title-wrap user-name">
                                            <div class="title-name">
                                                <a routerLink="/template/3"><h4>Англійська мова ЗНО 2017</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="card-body">-->
                                        <!--<div class="title-wrap user-name">-->
                                            <!--<div class="title-name">-->
                                                <!--<a routerLink="/template/4"><h4>Українська мова ЗНО 2018</h4></a>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div>-->
                                    <!--<div class="card-body">-->
                                        <!--<div class="title-wrap user-name">-->
                                            <!--<div class="title-name">-->
                                                <!--<a routerLink="/template/1"><h4>Українська мова ЗНО 2019</h4></a>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                            <!--<div class="tab-pane" id="history">
                                <div class="row">
                                    <div class="card-body">
                                        <div class="title-wrap user-name">
                                            <div class="title-name">
                                                <a routerLink=""><h4>Історія</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="physics">
                                <div class="row">
                                    <div class="card-body">
                                        <div class="title-wrap user-name">
                                            <div class="title-name">
                                                <a routerLink=""><h4>Фізика</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="language">
                                <div class="row">
                                    <div class="card-body">
                                        <div class="title-wrap user-name">
                                            <div class="title-name">
                                                <a routerLink=""><h4>Українська мова</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="geography">
                                <div class="row">
                                    <div class="card-body">
                                        <div class="title-wrap user-name">
                                            <div class="title-name">
                                                <a routerLink=""><h4>Георафія</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="informatic">
                                <div class="row">
                                    <div class="card-body">
                                        <div class="title-wrap user-name">
                                            <div class="title-name">
                                                <a routerLink=""><h4>Інформатика</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
