.card .form-check {
  margin-top: 0;
}

.task-title {
  display: flex;
  justify-content: space-between;
}

.card {
  margin-bottom: 50px;
  &-header-custom {
    background: linear-gradient(60deg, #5d8684, #1c1525);
  }
}

.margin-container {
  margin-top: 75px;
  margin-bottom: 30px;
}

.align-center {
  margin: 0 30%;
}