<div class="main-content">
    <mat-toolbar color="primary" class="fixed-top">
        <mat-toolbar-row>
            <span>{{nameTest}}</span>
            <span class="align-center">{{counter}}</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="container-fluid margin-container">
        <div class="row">
            <div class="col-md-12">
                <div class="card" *ngFor="let test of tests">
                    <div class="card-header card-header-tabs card-header-custom">
                        <div class="task-title">
                            <div><span class="nav-tabs-title" innerHTML="{{test.text}}"></span></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <mat-horizontal-stepper>
                            <mat-step *ngFor="let task of test.tasks" completed="false">
                                <ng-template matStepLabel>{{task.title}}</ng-template>
                                <div class="form-check form-check-radio" *ngFor="let select of task.variant">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="{{task.name}}"
                                               value="{{select}}" (change)="getValue(task.name, select)">
                                        <p>{{select}}</p>
                                        <span class="circle">
                                                <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </mat-step>
                        </mat-horizontal-stepper>
                    </div>
                </div>
            </div>
        </div>
        <a routerLink="/tests" [ngStyle]="{'pointer-events': validBtn() ? 'none' : 'auto'}">
            <button mat-raised-button class="btn btn-success pull-right btn-lg"
                    [disabled]="validBtn()" (click)="stopTest()">Завершити тест
            </button>
        </a>
        <div class="clearfix"></div>
    </div>
</div>
