<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Результати тестування</h4>
                    </div>
                    <div class="card-body" *ngFor="let item of statistic">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{item.titleTest}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    Правильних відповідей: {{item.value.count}}. Оцінка: {{item.value.value}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div class="col-md-12" *ngFor="let test of item.nameTest; let i = index">

                                <div class="task-title">
                                    <div class="title-statistic bg-danger"><h5>{{test.title}}</h5></div>
                                    <div>{{test.img}}</div>
                                </div>

                                <mat-grid-list cols="2" rowHeight="50px">
                                    <mat-grid-tile>Ваша відповідь</mat-grid-tile>
                                    <mat-grid-tile>Правильна відповідь</mat-grid-tile>
                                    <mat-grid-tile>{{item.userAnswer[i].answer}}</mat-grid-tile>
                                    <mat-grid-tile>{{item.rightAnswer[i].answer}}</mat-grid-tile>
                                </mat-grid-list>

                            </div>
                        </mat-expansion-panel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
